<nav class="navbar navbar-expand-lg navbar-dark bg-color4 border-bottom border-dark fixed-top">
  <div class="container-fluid">
    <!-- Elemento a la izquierda -->
    <a class="navbar-brand" href="#">
      <i class="bi bi-shop fs-1"></i>
    </a>

    <!-- Elemento en el centro -->
    <h1 class="text-white text-center flex-fill d-none d-lg-block fs-3">Supermercado la Economía</h1>

    <!-- Elemento a la derecha -->
    <button *ngIf="!hiddeCar" type="button" class="btn btn-primary position-relative me-2 border-0 bg-color4" (click)="toggleCart(true)">
      <i class="ti ti-shopping-cart fs-1"></i>
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        {{ counter }}
      </span>
    </button>
  </div>
</nav>
