<app-navbar>
</app-navbar>
<div class="container-fluid">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-8 mb-4">
      <button type="button" class="btn btn-primary bg-color3 border-0" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Agregar Productos
      </button>


    </div>
    <div class="col-8">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre Producto</th>
            <th scope="col">Unidades</th>
            <th scope="col">Precio</th>
            <th scope="col">Descripción Corta</th>
            <th scope="col">Descuento</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of listaDeProductos">
            <td>{{ producto.id }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.unidades }}</td>
            <td>$ {{ producto.precio }}</td>
            <td>{{ producto.descripcionCorta }}</td>
            <td>{{ producto.descuento }}%</td>
            <td><i class="bi bi-pencil-square mr-4"></i> <i class="bi bi-trash-fill"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>


<footer class="bg-color5  text-light">
  <div class=" d-flex justify-content-between align-items-center p-3">
    <div class="company-information text-center">
      <a class="navbar-brand" href="#">
        <i class="bi bi-shop fs-1"></i>
      </a>
      <p class="m-0 fs-3">Supermercado la Economía</p>
    </div>

    <div class="social-media fs-4 mr-4">
      <h5 class="m-0 fs-3 mb-2">Encuéntranos en:</h5>
      <i class="bi bi-tiktok mx-1"></i>
      <i class="bi bi-instagram mx-1"></i>
      <i class="bi bi-twitter mx-1"></i>
    </div>
  </div>
  <div class="w-100 text-center">
    Diseñado con ❤️
  </div>
</footer>



  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Ingresar un Producto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="nombreProducto" class="form-label">Nombre del Producto</label>
              <input type="text" class="form-control" id="nombreProducto" placeholder="Nombre del Producto" required>
            </div>

            <div class="mb-3">
              <label for="unidades" class="form-label">Unidades</label>
              <input type="number" class="form-control" id="unidades" placeholder="Unidades" required>
            </div>

            <div class="mb-3">
              <label for="precio" class="form-label">Precio</label>
              <input type="number" class="form-control" id="precio" placeholder="Precio" required>
            </div>

            <div class="mb-3">
              <label for="descripcionCorta" class="form-label">Descripción Corta</label>
              <textarea class="form-control" id="descripcionCorta" rows="3" placeholder="Descripción Corta"></textarea>
            </div>

            <div class="mb-3">
              <label for="descuento" class="form-label">Descuento (%)</label>
              <input type="number" class="form-control" id="descuento" placeholder="Descuento (%)">
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Guardar Producto</button>
        </div>
      </div>
    </div>
  </div>



