<app-client>
  <div class="container-fluid mt-4 mb-4">

    <!-- Listar productos  -->
    <div class="row">
      <div
        class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4"
        *ngFor="let item of itemsFilters"
      >
        <app-product
          [item]="item"
          (addProduct)="addItemCar($event)"
          (openProduct)="openProduct($event)"
        ></app-product>
      </div>
    </div>
  </div>

  <!-- Detalle del componente -->
  <app-detail-product
    [product]="itemDetail"
    [hidden]="!showDetailItem"
    (closeDetail)="closeDetail()"
    (addProduct)="addItemCar($event)"
  ></app-detail-product>

  <!-- lista de compras  -->
  <app-list-cart [hidden]="!showCart" (closeCart)="toogleCart(false)">
  </app-list-cart>

</app-client>
